.car-image-wrapper {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, white 60%, transparent);
}

.car-image-wrapper img {
  max-height: 100%;
  width: auto;
}
