:root {
  --primary: #3563e9;
  --bs-primary: #3563e9;
  --bs-primary-rgb: 53, 99, 233;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

footer a:hover {
  color: var(--primary) !important;
}
